html, body {
    margin: 0;
    height: 100%;
}

#first_page {
    background-image: url('img/hand2.jpg');
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
}

.hra-button {
    position: absolute;
    top: 80%;
    left: 40%;
    height: 50px;
    width: 140px;
    display: inline-block;
    background-color: rgb(94, 243, 96);
    border: 2px solid;
    font-size: 16px;
    border-radius: 12px;
    justify-content: center;
}

h1{
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
}