<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hand Recognition Application</title>

    <link rel="stylesheet" type="text/css" href="static/style/base.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/recording.js"></script>
</head>
<body>
    <div id="first_page">
        <div>
            <h1>Hand Recognition Application</h1>
            <h2>Turn your hand signs into meaningful text!</h2>
        </div>
        <a href="/streaming">
            <button tabindex="50" class="hra-button">Ready? Start!</button>
        </a>
        <footer>
            <p>Made by: Vincze Robert</p>
            <p>Contact Information:
                <a href="mailto:vinczerobert7@gmail.com">
                    vinczerobert7@gmail.com
                </a>
            </p>
        </footer>
    </div>
</body>
</html>