<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HRA - Recording</title>
    <link rel="stylesheet" type="text/css" href="static/style/base.css"/>

     <script type="text/javascript" src="/static/js/preloader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        function changeVideoSource(){
            const image = document.getElementById('video_image');
            const container = document.getElementById('container');
            const preloader = document.getElementById('preload');
            container.removeChild(image);
            preloader.style.display = 'block';
            handlePreloader();
            image.src = "{{ url_for('stream_with_predictions') }}";
            container.appendChild(image);
        }
    </script>

</head>
<body>
    <div id="container">
        <img id="video_image" src="{{ url_for('stream_simple') }}"/>
        <button type="button" class="btn" onclick="changeVideoSource()">Start</button>
    </div>
    <div class="preload" id="preload" style="display:none;">
        <div class="logo">
            <span>cubes</span>
        </div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
</body>
</html>